<div class="order__cart" id="simplecheckout_cart" {{ hide ? 'data-hide="true"' : '' }} {{ has_error ? 'data-error="true"' : '' }}>
{% if display_header %}
    <div class="checkout-heading panel-heading">{{ text_cart }} <span class="checkout-heading-button"><a href="javascript:void(0)" data-onclick="clearCart" class="text-danger" data-confirm-text="{{ text_clear_cart_question }}">{{ text_clear_cart }}</a></span></div>
{% endif %}
{% if attention %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ attention }}</div>
{% endif %}
{% if error_warning %}
    <div class="alert alert-danger simplecheckout-warning-block">{{ error_warning }}</div>
{% endif %}
	<div class="order__cart-title">Ваш кошик:
		<span>10</span>
	</div>
	<div class="order__cart-container">
		{% for product in products %}
			<div class="order__card product-card-modal">
				{% if product['thumb'] %}
					<a href="{{ product['href'] }}"><img src="{{ product['thumb'] }}" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="product-card-modal__image"/></a>
				{% endif %}
				<div class="product-card-modal__content">
					<a href="{{ product['href'] }}" class="product-card-modal__title">{{ product['name'] }}</a>
					{% for option in product['option'] %}
						<div class="product-card__weight product-card-modal__weight">
							<span class="weight_active">{{ option['value'] }}</span>
						</div>
					{% endfor %}
					<div class="product-card-modal__footer">
						<div class="product-card-modal__price">{{ product['total'] }}</div>

						<div class="product-card-modal__counter counter quantity">
							<button class="counter__control" data-onclick="decreaseProductQuantity" type="submit">
								<svg class="counter__icon">
									<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#minus"></use>
								</svg>
							</button>
							<div class="counter__input">
								<input type="text" class="counter__input__quantity" data-onchange="changeProductQuantity" {{ quantity_step_as_minimum ? 'data-minimum="' ~ product['minimum'] ~ '"' : '' }} name="quantity[{{ product['cart_id'] is not empty ? product['cart_id'] : product['key'] }}]" value="{{ product['quantity'] }}"/>
							</div>
							<button class="counter__control" data-onclick="increaseProductQuantity" type="submit">
								<svg class="counter__icon">
									<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#plus"></use>
								</svg>
							</button>
						</div>

					</div>
				</div>
				<button type="button" class="product-card-modal__close" data-onclick="removeProduct" data-product-key="{{ product['cart_id'] is not empty ? product['cart_id'] : product['key'] }}">
					<svg class="close-btn__icon">
						<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#close"></use>
					</svg>
				</button>
			</div>
		{% endfor %}
	</div>
	<div class="order__cart-info info-order">
		{% for total in totals %}
			<div class="info-order__delivery-price">Вартість доставки:
				<span>за тарифами оператора</span>
			</div>
			<div class="info-order__price">До сплати:
				<span>{{ total['text'] }}</span>
			</div>
		{% endfor %}
		<input type="hidden" name="remove" value="" id="simplecheckout_remove">
<div style="display:none;" id="simplecheckout_cart_total">{{ cart_total }}</div>
	</div>
</div>
